*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
}
.main nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    margin: auto;
}
.main{
    position: relative;
    background-image: url("/images/bg.jpg");
    height: 80vh;
    background-size: max(1350px, 100vw);
    background-repeat: no-repeat;
    background-position: center center;
    
}
.main .box{
    position: absolute;
    top: 0;
    height: 80vh;
    width: 100%;
    background-color: black;
    opacity: 55%;
}
.main img{
    position: relative;
    z-index: 10;
}
.main button{
    position: relative;
    z-index: 10; 
}

.main .adline {
    color: #fff;
    height: calc(100% - 100px);
    padding: 27px;
    font-family: sans-serif;
    position: relative; 
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: center;
    gap: 23px;
    text-align: center;
}
.main .adline >:nth-child(1){ 
    font-size: 36px;
    font-weight: 900; 
    
}
.main .adline :nth-child(2){
    font-size: 26px;
    font-weight: 500;
}
.main .adline :nth-child(3){
    font-size: 22px;
    font-weight: 350;
}

.saperation{
    height: 8px;
    background-color: rgb(83, 81, 81);
}

.btn{
    padding: 3px 8px;
    font-weight: bold;
    font-size: 20px;
    background-color: white;
    border-radius: 4px;
    /* border: none; */
}

.btn-red{
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
}
.main .email{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

input{
    color: white;
    padding: 9px 35px;
    font-size: 12px; 
    background-color: rgba(0, 0, 0, 0.644); 
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    color: white;
    margin: auto;
    align-items: center;
    
}

.scrImg {
    position: relative;
    
}
.scrImg img{
    width: 555px;
    position: relative;
    z-index: 10;
}
.scrImg video{
    position: absolute;
    top: 100px;
    right: 0;
    width: 480px;
}

section.first > div {
    display: flex;
    flex-direction: column;
    padding: 46px 0;
}
.first div> :nth-child(1){
    font-size: 48px;
    font-family: sans-serif;
    font-weight: bold;
  
}
.first div> :nth-child(2){
    font-size: 28px;
    font-weight: bold;
    font-family: sans-serif;   
}

.FAQ h2 {
    text-align: center;
    font-size: 48px;
}
.FAQ {
    background: black;
    color: white;
    padding: 34px;
}
.faqbox:hover {
    background-color: #414141;
    color: white;
}
.faqbox svg {
    filter: invert(1);
}

.faqbox {
    transition: all 1s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin: 34px auto;
    cursor: pointer;
}